<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team08.enjoytrip.tripRoute.model.repository.TripPlaceRepository">

    <resultMap type="tripPlaceDto" id="tripPlaceMap">
        <result column="id" property="id" />
        <result column="place_id" property="placeId" />
        <result column="trip_route_id" property="TripRouteId" />
        <result column="trip_day" property="tripDay" />
        <result column="trip_order" property="tripOrder" />
    </resultMap>


    <insert id="create" parameterType="tripPlaceDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tripplace (place_id, trip_route_id, trip_day, trip_order)
        VALUES (#{placeId}, #{tripRouteId}, #{tripDay}, #{tripOrder})
    </insert>


</mapper>
